// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import '../../assets/stylesheets/colors';

$background-color:  $deep-purple;
$text-color: #fff;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  color: $text-color;
  background-color: $background-color;

  h2 {
    color: $text-color;
  }

}
