$background-color:  #36185F;
$light-color: rgba(255, 255, 255, 0.7);

.widget-lunch {

  background-color: $background-color;

  p {
    text-align: left;
    font-size: large;
  }

  h1 {
    margin-bottom: 0px;
  }

  div:not(:last-child) {
    margin-bottom: 10px;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.3);
    top: 5px;
    right: 10px;
    left: auto;
  }

  .title {
    color: $light-color;
    text-align: left;
    font-size: 25px;
  }
}
