$background-color:  #36185F;

.widget-lunch {

  background-color: $background-color;

  p {
    text-align: left;
    font-size: large;
  }

  div {
    margin-bottom: 10px;
  }

  h3 {
    text-align: left;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
    top: 5px;
    right: 10px;
    left: auto;
  }
}
