@import '../../assets/stylesheets/colors';

$background-color:  $teal;
$text-color:  #fff;
// $text-color:  #36185F;

.widget-lunch {

  background-color: $background-color;
  color: $text-color;
  font-size: 90%;
  padding-bottom: 0 !important;

  p {
    text-align: left;
    font-weight: 300;
  }

  h1 {
    margin-bottom: 0;
  }

  .restaurant:not(:last-child) {
    margin-bottom: 10px;
  }

    .restaurant.first {
      margin-top: 15px;
    }

  .updated-at {
    color: rgba(255, 255, 255, 0.3);
    top: 12px;
    right: 10px;
    left: auto;
  }

  .title {
    color: $text-color;
    text-align: left;
    font-size: 25px;
  }
}
