@import '../../assets/stylesheets/colors';

.widget-hsl {
  background-color: $netlight-gold2;
  padding-bottom: 0 !important;

  table {
    margin-top: 25px;
  }

  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .time {
    padding-left: 20px;
    float:left;
  }

  .line {
    padding-right: 20px;
    float:right;
  }

  .destination {
    font-size: small;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.3);
    top: 12px;
    right: 10px;
    left: auto;
  }
}
