$red: #EF5350;
$pink: #EC407A;
$purple: #AB47BC;
$deep-purple: #AB47BC;
$indigo: #5C6BC0;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #0097A7;
$teal: #009688;
$green: #66BB6A;
$light-green:#9CCC65;
$lime: #D4E157;
$yellow: #FFEB3B;
$amber: #FFCA28;
$orange: #FFA726;
$deep-orange: #FFA726;
$blue-grey: #90A4AE;
