$red: #EF5350;
$pink: #EC407A;
$purple: #ba68c8;
$deep-purple: #9575cd;
$indigo: #5C6BC0;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #0097A7;
$teal: #26a69a;
$green: #66bb6a;
$light-green:#9CCC65;
$lime: #D4E157;
$yellow: #FFEB3B;
$amber: #FFCA28;
$orange: #FFA726;
$deep-orange: #FFA726;
$blue-grey: #90A4AE;

$netlight-gold: #CC9933;
$netlight-gold2: #e4ab3a;
$netlight-purple: #36185F;
$netlight-purple2: #4b2283;
$netlight-silver: #EDEDED;
$netlight-silver2: #90A4AE;
$netlight-gray: #262626;


