<% content_for :title do %>Netlight Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="card" data-view="Card"></div>
    </li>
  </ul>
</div>
