<% content_for :title do %>Netlight Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="bike" data-view="Bike"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="lunch" data-view="Lunch"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="card" data-view="Card"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="hsl" data-view="Hsl"></div>
    </li>
  </ul>
</div>
