// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import '../../assets/stylesheets/colors';

$background-color:  $orange;
$text-color: #fff;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-bike {

  color: $text-color;
  background-color: $background-color;

  h2 {
    color: $text-color;
  }

}
