// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import '../../assets/stylesheets/colors';
$background-color:  $netlight-purple2;

$full-color:  rgba(255, 255, 255, 1);
$light-color: rgba(255, 255, 255, 1);

// ----------------------------------------------------------------------------
// Widget-forecast styles
// ----------------------------------------------------------------------------
.widget-title {

    color: $light-color;
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    top: 5px;

	img {
    	vertical-align: baseline;
    	margin-right: 5px;
    	height: 16px;
	}
}

.widget-forecast {

  background-color: $background-color;
  padding-top: 15px !important;
  font-weight: 300;

  h1 {
    margin-bottom: 10px;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.3);
    top: 12px;
    right: 10px;
    left: auto;
  }

  .title {
    color: $light-color;
    text-align: left;
    font-size: 25px;
  }

  .temp {
    color: $full-color;
    text-align: left;
    font-size: 45px;
  }

  .summary {
    color: $full-color;
    text-align: left;
    vertical-align: middle;
    font-size: 17px;
  }

  .forecast-icon {
    float: left;
    text-align: left;
    margin-right: 20px;
  }

  .more-info {
      color: $light-color;
  }

}
